* {
  outline: 0;
  touchaction: 'manipulation';
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  min-height: 100vh;
}
